<div class="urls">
  <h2>URLs</h2>

  <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
    <thead>
      <tr>
        <th class="mdl-data-table__cell--non-numeric">Id</th>
        <th class="mdl-data-table__cell--non-numeric">Destination</th>
        <th class="mdl-data-table__cell--non-numeric">Created at</th>
      </tr>
    </thead>
    <tbody>
      {{#each model as |url|}}
        <tr>
          <td class="mdl-data-table__cell--non-numeric url-id">{{url.id}}</td>
          <td class="mdl-data-table__cell--non-numeric"><a href="{{url.destination}}">{{url.destination}}</a></td>
          <td class="mdl-data-table__cell--non-numeric">{{url.formattedCreatedAt}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
